@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


body {
  height: 2000px;
  color: #757575;
  /*background-image: url("../img/inksplotch.jpg");*/

}

h3, h1, h4, h2 {
  font-family: 'Amatic SC', cursive;
  color: #e2665a;
}

#mediabuttons {
  text-align: left;
  padding-top: 15px;
}
#prompts li {
  list-style: decimal;
  padding-bottom: 10px;
}

img.social {
  width: 35px;
}

a {
  color: #e2665a;
}
h4 {
  font-size: 28px;
  text-align: center;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: #000000;
}

h2 {
  font-size: 70px;
}
h3 {
  font-size: 60px;
}

.parallax-container {
  height: 300px;
}

#stickytest {
  position: fixed;
  top: 10%;
  left: 10%;
  filter: hue-rotate(50%);
  height: 150px;
  width: 150px;
  z-index: -1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#instagram h3 {
  color: #000000;
}

/*.well {
  background-color: black;
  color: white;
}*/


 #prompts {
  width: 40%;
  float: left;
  padding: 25px;
  padding-left: 40px;
  margin-bottom: 20px;
  font-size: 16px;

}

#toc {
  width: 100%;
  text-align: center;
  padding: 20px;
}

#pod {
  width: 35%;
  background-color: black;
  padding: 50px;
  float: left;
  text-align: center;
  margin-top: 30px;
}
#pod h2 {
  color: #fff;
}
#about, #tips {
  width: 60%;
  float: right;
  background-color: #fff;
  padding: 25px;
  margin-bottom: 20px;
}

#tips {
  padding-top: 0px;
}

#rules {
  width: 60%;
  float: right;
  padding: 25px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-image: url("../img/inksplotch.jpg");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: right;
}

#rules ol li {
  list-style-type: circle;
  padding-bottom: 12px;
  margin-left: 30px;
}

#inktoberpic {
  width: 150px;
}

#instagram {
  width: 100%;
  text-align: center;
  clear: both;
}

/*.row {
  padding: 25px;
}*/

#tips ul li {
  list-style-type: circle;
  padding-bottom: 12px;
  margin-left: 30px;
}

footer {
  background-color: black;
  padding: 25px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.redcolor {
  color: #e2665a;
}

#toc li {
  display: inline;
}


.table-of-contents a {
  font-weight: normal;
  border-left: none;
}

.table-of-contents a:hover {
  border-left: none;
}

.table-of-contents a:visited {
  border-left: none;
}
/*#pen {
  filter: invert(100%);
  left: 10
}*/

/*.inner {
  width: 150px;
  height: 100px;
  position: fixed;
  top: 20%;
  left: 10%;
  background: red;
}*/
